body {
  background-color: #949c94;
}

header {
  background: #111;
  color: #f5f5f5;
}

header h1 {
  text-align: center;
}

nav {
  background-color: bisque;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  padding: 8px;
}

nav li:hover {
  background: #ccc;
}


a {
  color: #111;
  font-size: 20px;
  text-decoration: none;
}

main {
  margin: auto;
  width: 80%;
}

section {
  border: 1px dashed #111;
  margin: 10px;
  padding: 10px;
}
